<div class="row">
  <div class="col-sm-6 col-md-10 col-lg-10 m-auto">
    <div class="card  text-center">
      <div class="card-body">
        <img src="img/logo1.png" class="responsive" alt="">
        <h1 class="card-title">{{titolo}}</h1>
        <br>
        <br>
        <p class="card-text">Scrivi qui tutte le tue nuove immersioni per assicurarti di non perderle mai</p>
        <a href="/aggiungi_immersione" class="btn btn-block"style="background-color: #63B8FF">Aggiungi una nuova immersione</a>
      </div>
    </div>
  </div>
</div>