<h1>Informazioni su questa app</h1>
<br> 
<h3><b>Questa app ha lo scopo di aiutarti a creare il tuo Look Book online per le tue immersioni</b></h3>
<br>
<br>
<p>Autore: <b>Alberto Ameglio</b></p>
<p>Versione: 1.0.0</p>